.container {
  width: 1000px;
  margin: auto;
}

.users {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.buttons {
  position: relative;
  /* border: 1px solid #ccc; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* width: 100%; */
}

table {
  margin: 0 auto;
  margin-top: 20px;
  width: 100%;
}
